langchain
langchain-openai
langchain-community
langgraph
langsmith
langchain-google-genai
langchain-huggingface
sentence-transformers
chromadb
langchain-text-splitters
langchain-chroma

chromadb

pandas
pyarrow

streamlit

python-dotenv